trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  keyvaultname: 'myvault965782'
  secretname: 'ghtoken'

  Connection name: 'keyvaultname: $(keyvaultname)
                    secrets: $(secretname)'

stagename: $(stagename)
      - script: echo $(keyvaultname)
        displayName: 'Display Github Token'