trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  stagename: 'Build'
  newstage: 'Release'

jobs:
  - job: BuildJob
    steps:
      - script: echo $(ghtoken)
        displayName: 'Display GitHub Token'

      - script: echo $(newstage)
        displayName: 'Display New Stage Name'

      - script: echo $(country)
        displayName: 'Display Country Variable'

      - script: echo "Group Variable Printed"
        displayName: 'Display Group Variable Message'
